# dependencies
/node_modules
/.pnpm-store

# build / production
/dist
/.vercel

# astro / vite
/.astro
/src/env.d.ts

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system files
.DS_Store
Thumbs.db

# sensitive files
firebase-key.json
